{% extends 'base.html' %} {% block content %} {% include 'header.html' %} {% load static %}
<section class=" hero-wrap-2" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
            </div>
        </div>
    </div>
</section>
<h1 class="ml-5 bread">Our Gallery</h1>


<section class="ftco-section">

    <div class="container-fluid px-md-5">
        <div class="row">
            {% for event in events %}
            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url({{event.featured_image.url}});">
                            <div class="box">
                                <h2>{{event.name}}</h2>
                            </div>
                        </div>
                        <a href="{% url 'image' event.id %}">
                            <div class="back">
                                <!-- back content -->
                                <blockquote>
                                    <p>&ldquo;{{event.description}} &rdquo;</p>
                                </blockquote>
                                <div class="author d-flex">
                                    <div class="image align-self-center">
                                        <img src="{{event.featured_image.url}}" alt="">
                                    </div>
                                    <div class="name align-self-center ml-3">{{event.title}}<span class="position">{{bod.post}}</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
{% include 'footer.html' %} {% endblock %}